<div class="container-fluid">
    <div class="row">
        
        <div class="card col-md-4">
          <img class="card-img-top" src="assets/images/Hotel.jpg" alt="Card image cap" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title font-bold text-center"><strong>Un Hotel Bonito</strong></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
        <div class="card col-md-4">
          <img class="card-img-top" src="assets/images/Hotel2.jpg" alt="Card image cap" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title font-bold text-center"><strong>Otro Hotel Lindo</strong></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
        <div class="card col-md-4">
          <img class="card-img-top" src="assets/images/Hotel3.jpg" heaalt="Card image cap" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title font-bold text-center"><strong>Un Hotel Un Aspero</strong></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
    </div>
    
       <div class="row">
        
        <div class="card col-md-4">
          <img class="card-img-top" src="assets/images/Hotel4.jpg" alt="Card image cap" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title font-bold text-center"><strong>Otro Bien Cool</strong></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
        <div class="card col-md-4">
          <img class="card-img-top" src="assets/images/Hotel5.jpg" alt="Card image cap" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title font-bold text-center"><strong>Un Hotel De Barrio</strong></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
        <div class="card col-md-4">
          <img class="card-img-top" src="assets/images/Hotel6.jpg" heaalt="Card image cap" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title font-bold text-center"><strong>Un Motel Con Clase</strong></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
    </div>
</div>


